# Dzień pierwszy- masakra
___
1. Podstawy Linux
2. Podstawy Git
3. Python (to do)

print ('Hello World')

## Podstawowe Zmienne w Python
* Ciągi znaków (stringi)
* Liczby

### Ciągi znaków

In [2]:
zmienna_znakowa = 'Hello World'

In [3]:
print (zmienna_znakowa)

Hello World

In [4]:
zmienna_znakowa2 = 'Hello World "test"'

In [5]:
print(zmienna_znakowa2)

Hello World "test"

In [6]:
zmienna_znakowa3 = "Hello World \"tst\""

In [7]:
print (zmienna_znakowa3)

Hello World "tst"

### Konkatenacja znaków

#### Sposób 1 na konkatenacje znaków
* Stare podejscie

In [11]:
# komentarz #
zmienna_znakowa + ' Adam'

'Hello World Adam'

#### Sposób nowy

In [13]:
uzytkownik = 'Adam'

In [15]:
print ('{} {} !' .format(zmienna_znakowa, uzytkownik))

Hello World Adam !

In [17]:
print ('{ciag_znakow} {uzytkownik} !' .format(ciag_znakow=zmienna_znakowa, uzytkownik=uzytkownik))

Hello World Adam !

In [20]:
print ('{ciag_znakow} {uzytkownik} !' .format(uzytkownik=uzytkownik,ciag_znakow=zmienna_znakowa))

Hello World Adam !

#### Sposob 3 - f-stringi
* od wersji 3.6

In [22]:
f'{zmienna_znakowa} {uzytkownik}'

'Hello World Adam'

#### Slicing

In [24]:
zmienna_znakowa [0:2]

'He'

In [26]:
zmienna_znakowa [1:11]

'ello World'

* proba dostania sie poza zakres

In [28]:
zmienna_znakowa [16]

IndexError: string index out of range

In [32]:
# wez drugi do konca#
zmienna_znakowa [2:]

'llo World'

In [37]:
# wez co drugi#
#od drugiego co dwa#
zmienna_znakowa [2: :2]

'loWrd'

In [39]:
#ostatni znak#
zmienna_znakowa [-1]

'd'

In [42]:
#walidacja w srodku, czy ostani =d, WALIDACJA ZAWSZE == #
zmienna_znakowa [-1] == 'd'

True

In [45]:
#nie rowna d#
zmienna_znakowa [-1] != 'd'

False

In [48]:
#policz znaki#
len (zmienna_znakowa)

11

In [50]:
#spr type#
type (zmienna_znakowa)

str

* Metody na zmiennych

In [52]:
zmienna_znakowa.upper ()

'HELLO WORLD'

In [55]:
dir (zmienna_znakowa)
#co mozey zrobic ze zienna#

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

*znaczenie, pomoc

In [57]:
dir?

In [60]:
lista_uczestnikow = 'Ewelina, Tomek, Marta'

lista_uczestnikow.find?

In [64]:
lista_uczestnikow [9:]

'Tomek, Marta'

lista_uczestnikow.split?

In [73]:
lista_uczestnikow.split(sep=None , maxsplit=-1)

['Ewelina,', 'Tomek,', 'Marta']

In [77]:
lista_uczestnikow.split(',', 2)

['Ewelina', ' Tomek', ' Marta']

In [82]:
lista_uczestnikow.split(',')[2]

' Marta'

In [84]:
lista_uczestnikow.split(',')[0]

'Ewelina'

In [86]:
','.join(lista_uczestnikow)

'E,w,e,l,i,n,a,,, ,T,o,m,e,k,,, ,M,a,r,t,a'

In [150]:
lista_uczestnikow.split?



lista_uczestnikow.split(',')



lista_uczestnikow[0]



 lista_uczestnikow.split(',')[2]



lista_uczestnikow.join?



wynik_splita =  lista_uczestnikow.split(',')



",".join(wynik_splita)

IndentationError: unexpected indent (<ipython-input-150-57e8405c1fb3>, line 13)

In [90]:
print('First line\tSecond line')

First line	Second line

## Zmienne liczbowe
* Całkwito liczbowe
* Zmiennoprzecinkowe

### Całkowito liczbowe
* typ _int_

In [92]:
zmienna_liczba = 8

In [94]:
zmienna_liczba

8

In [96]:
zmienna_tekstowa = '8'

In [98]:
zmienna_tekstowa

'8'

In [100]:
print(zmienna_liczba)

8

In [102]:
print(zmienna_tekstowa)

8

In [104]:
zmienna_liczba + 3

11

In [113]:
zmienna_liczba += 3
#dodaje za kazdym razem 3#

In [128]:
zmienna_liczba
#bo tutaj tez uruchomilam o mnozeniu#

621

In [119]:
zmienna_tekstowa + '3'

'83'

In [124]:
zmienna_liczba *= 3

In [127]:
zmienna_liczba

621

In [136]:
del drugi_uczestnik

NameError: name 'drugi_uczestnik' is not defined

In [138]:
pierwszy = 'Ania'

In [140]:
drugi = 'Tomek'

In [142]:
lista = (pierwszy, drugi)

In [144]:
lista

('Ania', 'Tomek')

In [147]:
lista = (drugi, pierwszy)

In [151]:
lista

('Tomek', 'Ania')

In [155]:
pierwszy, drugi = drugi, pierwszy

In [157]:
print(pierwszy)

Tomek

In [159]:
3 ^ 1

2

In [162]:
2 ** 3

8

In [165]:
#pierwiastek#
16 ** (1/2)

4.0

In [167]:
import math

In [170]:
math.sqrt (16)
#pierwiastek po improcie#

4.0

In [173]:
112 / 3
# x2 // to podzielimy calkowicie liczbe#

37.333333333333336

In [175]:
112 // 3

37

In [177]:
112 % 3 
#reszta z dzelenia#

1

### Typ zmiennoprzecinkowy
* typ _float_

In [179]:
zmienna_float = 3.14

In [181]:
zmienna_e = 2.71

In [183]:
type(zmienna_e)

float

In [185]:
zmienna_float *2

6.28

In [187]:
math.e

2.718281828459045

In [189]:
round(math.e)
#zaookraglanie#

3

In [191]:
round (math.e, 3)

2.718

In [194]:
round (math.pi, 0)

3.0

In [196]:
type (round(math.pi, 0))

float

In [198]:
zmienna_float

3.14

In [200]:
int(zmienna_float)

3

### Listy
* sluzy do zapisania wielu znakow np liczb rzeczywistych

In [207]:
liczby = [1,2,5,11]

In [204]:
type(liczby)

list

slicing na lstach

In [210]:
liczby [1: 3]

[2, 5]

In [212]:
len(liczby)

4

In [215]:
1 in liczby
#czy jest na liscie#

True

In [217]:
6 in liczby

False

In [219]:
6 not in liczby

True

dodawanie do listy

In [221]:
liczby.append(-1)

In [223]:
liczby.append(-8)

In [225]:
liczby.append(-6)

In [227]:
liczby

[1, 2, 5, 11, -1, -1, -8, -8, -6, -6]

Sortowanie listy

In [229]:
liczby.sort (reverse=True)

In [231]:
liczby

[11, 5, 2, 1, -1, -1, -6, -6, -8, -8]

In [233]:
sorted (liczby)

[-8, -8, -6, -6, -1, -1, 1, 2, 5, 11]

In [235]:
liczby.sort (reverse=False)

In [237]:
liczby

[-8, -8, -6, -6, -1, -1, 1, 2, 5, 11]

In [239]:
lista_plac = [ 4000, 5000, 3000, 8000]

In [241]:
len(lista_plac)

4

In [243]:
lista_plac.pop()

3000

In [245]:
len(lista_plac)

2

In [248]:
lista_plac.append(3000)

In [250]:
lista_plac.extend([20000, 15000])

In [252]:
lista_plac

[4000, 5000, 3000, 3000, 3000, 20000, 15000, 20000, 15000]

In [257]:
!whoami

kodolamacz

In [259]:
zmienna = !whoami

In [261]:
zmienna

['kodolamacz']

In [288]:
type (zmienna)

IPython.utils.text.SList

In [290]:
print ('Zalogowany jestes jako: ' + zmienna [0])

Zalogowany jestes jako: kodolamacz

In [327]:
lista = !ls -al

In [328]:
lista

['razem 76',
 'drwxrwxr-x 4 kodolamacz kodolamacz  4096 paź 14 14:17 .',
 'drwxrwxr-x 4 kodolamacz kodolamacz  4096 paź 13 14:58 ..',
 '-rw-rw-r-- 1 kodolamacz kodolamacz 40888 paź 14 14:17 Dzien 1.ipynb',
 'drwxrwxr-x 8 kodolamacz kodolamacz  4096 paź 14 09:54 .git',
 '-rw-rw-r-- 1 kodolamacz kodolamacz    20 paź 13 16:14 .gitignore',
 'drwxr-xr-x 2 kodolamacz kodolamacz  4096 paź 13 16:03 .ipynb_checkpoints',
 '-rw-rw-r-- 1 kodolamacz kodolamacz  9004 paź 13 17:14 moja_historia',
 '-rw-rw-r-- 1 kodolamacz kodolamacz    14 paź 13 14:59 README.md']

In [308]:
ls -al | wc -l

9

In [309]:
ile = !ls -al | wc -l

In [311]:
ile

['9']

In [303]:
sciezka = !pwd

In [312]:
sciezka

['/home/kodolamacz/code/repo_annkus']

In [333]:
print ('W ścieżce ' + sciezka[0] + ' jest ' + ile[0] + ' plików')

W ścieżce /home/kodolamacz/code/repo_annkus jest 9 plików

In [334]:
print ('W ścieżce {sciezka} {czasownik} {liczba} {podmiot} .' .format
       (sciezka=sciezka[0], czasownik='jest', liczba=ile[0], podmiot='plików'))

W ścieżce /home/kodolamacz/code/repo_annkus jest 9 plików .

In [332]:
print ('W ścieżce {sciezka} jest {liczba} plików .' .format
       (sciezka=sciezka[0], liczba=ile[0], podmiot='plików'))

W ścieżce /home/kodolamacz/code/repo_annkus jest 9 plików .

### Tuple
* jest podobna do list
* niemutowalna czyli nie zmenisz

In [331]:
dni = ('pon', 'wt', 'sr', 'czw', 'pt')

In [336]:
len(dni)

5

### Słowniki

In [338]:
slownik = {}

In [340]:
type(slownik)

dict

In [347]:
slownik = {1: 'A', 22: 'B', 13: 'C'}

In [348]:
print(slownik)

{1: 'A', 22: 'B', 13: 'C'}

In [351]:
slownik[13]

'C'

In [352]:
slownik.keys()

dict_keys([1, 22, 13])

In [354]:
slownik.values()

dict_values(['A', 'B', 'C'])

In [356]:
slownik.items()

dict_items([(1, 'A'), (22, 'B'), (13, 'C')])

In [358]:
slownik [12] = 'G'

In [360]:
slownik

{1: 'A', 12: 'G', 13: 'C', 22: 'B'}

In [364]:
del slownik[12]

KeyError: 12

### Sety

In [366]:
moj_zbior = { 1,2,2,3,9}

In [368]:
moj_zbior

{1, 2, 3, 9}

In [370]:
moja_lista = [1,2,2,3,9]

In [372]:
moja_lista

[1, 2, 2, 3, 9]

In [374]:
list(set(moja_lista))

[1, 2, 3, 9]

In [376]:
A = {1,2,2,3,9}
B = {3,9,6,7,8}

In [378]:
A | B

{1, 2, 3, 6, 7, 8, 9}

In [380]:
A - B

{1, 2}

In [382]:
B - A

{6, 7, 8}

In [384]:
A & B

{3, 9}

### wartosci puste
* nulle

In [389]:
A = None
temperatury = [17, 20, 21, 18,30, None]

In [388]:
str(A)

'None'

In [392]:
temperatury.remove(None)

ValueError: list.remove(x): x not in list

In [394]:
temperatury.sort()

In [396]:
temperatury

[17, 18, 20, 21, 30]

In [398]:
sum(temperatury)

106

In [400]:
min(temperatury)

17

In [401]:
import statistics

In [402]:
statistics.mean(temperatury)

21.2

# Instrukcje warunkowe
* IFy

In [405]:
a = 3
b = 4

if a < b:
    print ('a mniejsze od b')
elif a > b :
    print ('b wieszke od a')
else:
    print ('wartosci rowne')

a mniejsze od b

In [425]:
imie = 'Ania'
waga = 60
wzrost = 1.68

BMI = waga/ wzrost kwadrat

In [422]:
BMI = waga // (wzrost ** 2)

In [426]:
BMI

19.0

In [427]:
if BMI < 18.49:
    print ('chudzielec')
elif BMI >= 25 :
    print ('grubas')
else:
    print ('dobrze')

dobrze

##Pętle
* for 
* while

In [429]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [431]:
for i in range(2, 10):
    print (i)

2
3
4
5
6
7
8
9

In [433]:
for i in range(2, 10, 3):
    print (i)

2
5
8

In [435]:
len(temperatury)

5

In [439]:
for i in temperatury:
    print(i)

17
18
20
21
30

In [441]:
for i in temperatury:
    print('temperatura wynosi {}'.format(i))

temperatura wynosi 17
temperatura wynosi 18
temperatura wynosi 20
temperatura wynosi 21
temperatura wynosi 30

In [444]:
i = 0
while i < 10 :
    print ('Zmienna i wynosi {}' .format(i))
    i +=1

Zmienna i wynosi 0
Zmienna i wynosi 1
Zmienna i wynosi 2
Zmienna i wynosi 3
Zmienna i wynosi 4
Zmienna i wynosi 5
Zmienna i wynosi 6
Zmienna i wynosi 7
Zmienna i wynosi 8
Zmienna i wynosi 9

# List comprehension

In [446]:
lista_elementow = []
for i in range(100):
    lista_elementow.append(i)

In [449]:
len(lista_elementow)

100

In [451]:
lista_elementow = []
for i in range(100):
    lista_elementow.append(i ** 2)

In [453]:
lista_elementow

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

nowa metoda list comprehension

In [459]:
[i ** 2 for i in range(100) if not i % 2]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [461]:
[i ** 2 for i in range(100) if not (i ** 2) % 2]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [464]:
[i ** 2 if not i % 2 else 0 for i in range(100) ]

[0,
 0,
 4,
 0,
 16,
 0,
 36,
 0,
 64,
 0,
 100,
 0,
 144,
 0,
 196,
 0,
 256,
 0,
 324,
 0,
 400,
 0,
 484,
 0,
 576,
 0,
 676,
 0,
 784,
 0,
 900,
 0,
 1024,
 0,
 1156,
 0,
 1296,
 0,
 1444,
 0,
 1600,
 0,
 1764,
 0,
 1936,
 0,
 2116,
 0,
 2304,
 0,
 2500,
 0,
 2704,
 0,
 2916,
 0,
 3136,
 0,
 3364,
 0,
 3600,
 0,
 3844,
 0,
 4096,
 0,
 4356,
 0,
 4624,
 0,
 4900,
 0,
 5184,
 0,
 5476,
 0,
 5776,
 0,
 6084,
 0,
 6400,
 0,
 6724,
 0,
 7056,
 0,
 7396,
 0,
 7744,
 0,
 8100,
 0,
 8464,
 0,
 8836,
 0,
 9216,
 0,
 9604,
 0]

In [475]:
#Stwórz listę gdzie są wszystkie kwadraty liczb od 1 do 40 przy założeniu że wyświetlamy jedynie te kwadraty#
#które są podzielne przez 3#
#Wyliczamy sumę tych liczb#
T = [i ** 2 if not i % 3 else 0 for i in range(41) ]

In [470]:
T

[0,
 0,
 0,
 9,
 0,
 0,
 36,
 0,
 0,
 81,
 0,
 0,
 144,
 0,
 0,
 225,
 0,
 0,
 324,
 0,
 0,
 441,
 0,
 0,
 576,
 0,
 0,
 729,
 0,
 0,
 900,
 0,
 0,
 1089,
 0,
 0,
 1296,
 0,
 0,
 1521,
 0]

In [476]:
sum (T)

7371

Stwórz listę gdzie są wszystkie kwadraty liczb od 1 do 40 przy założeniu że wyświetlamy jedynie te 
kwadraty + 1 które są podzielne przez 3
Wyliczamy sumę tych liczb

In [479]:
[i ** 2 if not i % 2 else 'dupa' for i in range(100) ]

[0,
 'dupa',
 4,
 'dupa',
 16,
 'dupa',
 36,
 'dupa',
 64,
 'dupa',
 100,
 'dupa',
 144,
 'dupa',
 196,
 'dupa',
 256,
 'dupa',
 324,
 'dupa',
 400,
 'dupa',
 484,
 'dupa',
 576,
 'dupa',
 676,
 'dupa',
 784,
 'dupa',
 900,
 'dupa',
 1024,
 'dupa',
 1156,
 'dupa',
 1296,
 'dupa',
 1444,
 'dupa',
 1600,
 'dupa',
 1764,
 'dupa',
 1936,
 'dupa',
 2116,
 'dupa',
 2304,
 'dupa',
 2500,
 'dupa',
 2704,
 'dupa',
 2916,
 'dupa',
 3136,
 'dupa',
 3364,
 'dupa',
 3600,
 'dupa',
 3844,
 'dupa',
 4096,
 'dupa',
 4356,
 'dupa',
 4624,
 'dupa',
 4900,
 'dupa',
 5184,
 'dupa',
 5476,
 'dupa',
 5776,
 'dupa',
 6084,
 'dupa',
 6400,
 'dupa',
 6724,
 'dupa',
 7056,
 'dupa',
 7396,
 'dupa',
 7744,
 'dupa',
 8100,
 'dupa',
 8464,
 'dupa',
 8836,
 'dupa',
 9216,
 'dupa',
 9604,
 'dupa']

# Dictionary comprehension

In [481]:
{ i : 65 + i for i in range(4)}

{0: 65, 1: 66, 2: 67, 3: 68}

In [483]:
{ i : chr(65 + i) for i in range(4)}

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

# Funkcje

In [485]:
def funkcja():
    print ('pierwsza funkcja')

In [487]:
funkcja()

pierwsza funkcja

In [489]:
def funkcja2():
    return ('pierwsza funkcja')

In [493]:
funkcja2 ()

'pierwsza funkcja'

In [494]:
a= funkcja()
b= funkcja2 ()

pierwsza funkcja

In [496]:
type(a)

NoneType

In [498]:
type(b)

str

In [500]:
def sum_dwoch_liczb(a, b):
    return a + b

In [502]:
c = sum_dwoch_liczb(2, 3)

In [504]:
c

5

In [506]:
def oblicz_wartosc_funkcji_liniowej (x, a=1, b=0):
    return a * x + b

In [510]:
oblicz_wartosc_funkcji_liniowej (5, 2)

10

In [512]:
def funkcja_imie():
    return ('Ania')

In [514]:
funkcja_imie()

'Ania'

slajdy 69-71

In [528]:
def funkcja_imie():
    return ('Ania')

In [529]:
funkcja_imie()

'Ania'

In [530]:
funkcja_imie == None

False

In [531]:
def licz_bmi(i, w, z):
  print( BMI = waga // (wzrost ** 2)  
    
    return

if BMI < 18.49:
    print ('OK')
elif BMI >= 25 :
    print ('masz nadwage')
else:
    print ('dobrze')
)

SyntaxError: invalid syntax (<ipython-input-531-a00410b5b537>, line 4)

# generatory
* podobne do list comprhension 
* oszczedza pamiec
* lazy evaluation

In [534]:
( i for i in range(100))

In [536]:
result = ( i for i in range(100))

In [541]:
next(result)

4

In [543]:
for i in result:
    print (i)

In [547]:
result = ( i for i in range(10))

In [549]:
next(result)

1

In [551]:
resut = (num ** 2 for num in range(10**8))

In [553]:
for i in resut:
    pass
#pomja pokazywanie#